
html {
    height: 100%;
    width: 100%;
}
body {
    background-image: url(../screenbg.jpg);
    background-color: #f7f7f7;
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* cart display styling */
.theDiv {
    background-color: #006699;
    height: 100px;
    width: 263px;
    margin-bottom: 10px;
}
.dImg {
    background-size: cover;
    height: 80px;
    width: 80px;
    margin: 10px;
    display: inline-block;
}
.dName {
    padding: 3px;  
    position: relative;
    top: -100px;
    left: 100px;
}
.dPrice {
    padding: 3px;
    position: relative;
    top: -90px;
    left: 100px;
    display:inline;
}
.dQuantity {
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
    padding: 3px;
    display:inline;
    position: relative;
    top: -50px;
    left: 15px;
} 

/* For mobile */
@media only screen and (min-device-width:320px) and (max-device-width: 600px) and (orientation: portrait) {
    #mainDiv {
        height: 1900px;
        position: relative;
        background-color: #679267;
        width: 100%;
        
        
    }
    #sideNavDiv{
        height: 175px;
        background-color: none;
    }

      /*Body styling*/
        body{
            background-image: url("../screenbg.jpg");
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

    
        /* cart button styling*/
        .cart{
            float: right;
            width: 80px;
            line-height: 18px;
            margin-right: 50px;
            }
        .cart:hover{
            border-bottom: 1px solid #575756;
        }
        .cart img{
            width: 30px; 
            float: left; 
            clear: both; 
            line-height: 18px; 
            transform: translate(7px,0px);
        }
        .cart p{
            display: block;
            margin-left: 10px;
        }
        .cart button{
            background-color: transparent;
            color: #575756; 
            border-radius: 50px;
            border: 0px solid #575756;
        }
    
    /* Checkout button styling*/
        .checkout{
            float: right;
            width: 80px;
            line-height: 18px;
            }
        .checkout:hover{
            border-bottom: 1px solid #575756;
        }
        .checkout img{
            width: 30px; 
            float: left; 
            clear: both; 
            line-height: 18px; 
            transform: translate(17px,0px);
        }
        .checkout p{
            display: block;
            margin-left: 3px;
        }
        .checkout button{
            background-color: transparent;
            color: #575756; 
            border-radius: 50px;
            border: 0px solid #575756;
        }
    
        .logo > img{
            width: 130px; 
            height: 120px;
            float: left;
        } 

        .logo >img:hover{
            cursor: pointer;
        }
    
        /* side navigation bar*/    
        #sideNav{
         width: 20%;
         float: left;
         color: #575756;
         padding: 10px 30px 30px 30px;
         font-size: 20px;
         clear: both;
         display: block;
        }
    
        /*Hamburger Menu*/    
        .sideNav2{
            display: none;  
            margin-left: 150px;
        } 
        .sideNav2 span{
            font-size:30px;
            cursor:pointer; 
        }
        /* for the products*/
        #main{
            width: 70%;
            height: 100%;
            float: right;
            color: black;
            margin-right: 30px;
            background-color: rgb(0,0,0); /* Fallback color */
/*          background-color: rgba(0,0,0, 0.2);  Black w/opacity/see-through */
 
            border:solid #C4C4C4;
            background: #E5E5E5;
            opacity: 0.91;
            font-weight: bold;
            border: 3px solid #f1f1f1;
            border-radius: 10px;
        }    

        .card-img-top{
            height: 200px; 
            width: 100%; 
            display: block;
        }


            #rightDirection:hover{
                cursor: pointer;
            }
        /*the cart*/
            #TheCart{
                visibility: hidden;
            }

    
    .container{
        width: 100%;
    }

          .container2 .btn {
          position: absolute;
          top: 50%;
          left: 50%;
          background-color: black;
          color: white;
          font-size: 16px;
          padding: 12px 24px;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          text-align: center;
        }

        .container2 .btn:hover {
          background-color: #3A7855;
        } 
    
        .carousel-inner img {
            margin: auto;
        }

        .btn-group button{
            transform: translate(25%,-100%); 
            background-color: #f3d27e; 
            border:1px solid black; 
            border-radius: 2px; 
            width: 200px; 
            height: 40px; 
            font-size: 15px;
        }
    
        
    
    /* for responsive mobile-friendly page*/    
        
    @media only screen and (min-width: 300px) and (max-width: 479px){
        #sideNav{
            display: none;
            margin-left: 50%;
            color: #575756;
            width: 50%;
        }    
        .sideNav2{
            display: block;
            align-content: center;
            float: left;
            clear: none;
            align-self: center;
            margin-left: 200px;
            
        } 
         .cart{
            margin-top: 120px;
             max-width: 20%;
        }
        
        .logo img{
            margin-left: 120px;
        }
        .btn-group button{
            margin-right: 170px;
        }
        
      
    }
         
    @media only screen and (min-width: 480px) and (max-width: 767px){  
        #sideNav{
            display: none;
            margin-left: 50px;
            color: #575756;
            width: 170px;
            margin-left: 30%;
        }    
        .sideNav2{
            display: block;
            align-content: center;
            float: left;
            clear: none;
            align-self: center;
            margin-left: +50%;
            
        }
        .cart,.checkout{
            margin-top: 10px;
        }
        .container2{
            max-width: 100%;
            clear: both;
        }
       
    }
