        html {
            height: 100%;
            width: 100%;
        }
        /*Body styling*/
        body{
            
            height: 100%;
            width: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow-x:hidden;
        }
    
        /* cart button styling*/
        .cart{
            float: right;
            width: 80px;
            line-height: 18px;
            margin-right: 50px;
            }
        .cart:hover{
            border-bottom: 1px solid #575756;
        }
        .cart img{
            width: 30px; 
            float: left; 
            clear: both; 
            line-height: 18px; 
            transform: translate(7px,0px);
        }
        .cart p{
            display: block;
            margin-left: 10px;
        }
        .cart button{
            background-color: transparent;
            color: #575756; 
            border-radius: 50px;
            border: 0px solid #575756;
        }
    
    /* Checkout button styling*/
        .checkout{
            float: right;
            width: 80px;
            line-height: 18px;
            }
        .checkout:hover{
            border-bottom: 1px solid #575756;
        }
        .checkout img{
            width: 30px; 
            float: left; 
            clear: both; 
            line-height: 18px; 
            transform: translate(17px,0px);
        }
        .checkout p{
            display: block;
            margin-left: 3px;
        }
        .checkout button{
            background-color: transparent;
            color: #575756; 
            border-radius: 50px;
            border: 0px solid #575756;
        }
    
        .logo > img{
            width: 130px; 
            height: 120px;
            float: left;
        } 

        .logo >img:hover{
            cursor: pointer;
        }
    
        /* side navigation bar*/    
        #sideNav{
         width: 20%;
         float: left;
         color: #575756;
         padding: 10px 30px 30px 30px;
         font-size: 20px;
         clear: both;
         display: block;
        }
     
        .sideNav2 span{
            font-size:30px;
            cursor:pointer; 
        }
        /*Hamburger*/
        a{
          text-decoration: none;
          color: #232323;
          transition: color 0.3s ease;
        }

        a:hover
        {
          color: tomato;
        }

        #menuToggle
        {
          display: none;
          position: relative;
          top: 50px;
          left: 50px;

          z-index: 1;

          -webkit-user-select: none;
          user-select: none;
        }

        #menuToggle input
        {
          display: block;
          width: 40px;
          height: 32px;
          position: absolute;
          top: -7px;
          left: -5px;

          cursor: pointer;

          opacity: 0; /* hide this */
          z-index: 2; /* and place it over the hamburger */

          -webkit-touch-callout: none;
          color:black
        }

        /*
         * Just a quick hamburger
         */
        #menuToggle span
        {
          display: block;
          width: 33px;
          height: 4px;
          margin-bottom: 5px;
          position: relative;
          background: black;
          border-radius: 3px;
          z-index: 1;
          transform-origin: 4px 0px;
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      opacity 0.55s ease;
        }

        #menuToggle span:first-child
        {
          transform-origin: 0% 0%;
        }

        #menuToggle span:nth-last-child(2)
        {
          transform-origin: 0% 100%;
        }

        /* 
         * Transform all the slices of hamburger
         * into a crossmark.
         */
        #menuToggle input:checked ~ span
        {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -1px);
          background: #232323;
        }

        /*
         * But let's hide the middle one.
         */
        #menuToggle input:checked ~ span:nth-last-child(3)
        {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }

        /*
         * Ohyeah and the last one should go the other direction
         */
        #menuToggle input:checked ~ span:nth-last-child(2)
        {
          transform: rotate(-45deg) translate(0, -1px);
        }

        #menu
        {
          position: absolute;
          width: 300px;
          margin: -100px 0 0 -50px;
          padding: 50px;
          padding-top: 125px;
          background: #ededed;
          list-style-type: none;
          -webkit-font-smoothing: antialiased;
          /* to stop flickering of text in safari */
          transform-origin: 0% 0%;
          transform: translate(-100%, 0);
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        }

        #menu li
        {
          padding: 10px 0;
          font-size: 22px;
        }

        /*
         * And let's slide it in from the left
         */
        #menuToggle input:checked ~ ul
        {
          transform: none;
        }
        /* for the products*/
        #main{
            width: 70%;
            height: 170%;
            float: right;
            color: black;
            background-color: rgb(0,0,0); /* Fallback color */
/*          background-color: rgba(0,0,0, 0.2);  Black w/opacity/see-through */
            border:solid #C4C4C4;
            background: #E5E5E5;
            opacity: 0.91;
            font-weight: bold;
            border: 3px solid #f1f1f1;
            border-radius: 10px;
        }    

        .card-img-top{
            height: 200px; 
            width: 100%; 
            display: block;
        }

        #rightDirection:hover{
            cursor: pointer;
        }
        
        /*the cart*/
        #TheCart{
            visibility: hidden;
        }

    
        .container{
            width: 100%;
        }

        .container2 .btn {
          position: absolute;
          top: 50%;
          left: 50%;
          background-color: black;
          color: white;
          font-size: 16px;
          padding: 12px 24px;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          text-align: center;
        }

        .container2 .btn:hover {
          background-color: #3A7855;
        } 
    
        .carousel-inner img {
            margin: auto;
        }

        .btn-group button{
            transform: translate(25%,-100%); 
            background-color: #f3d27e; 
            border:1px solid black; 
            border-radius: 2px; 
            width: 200px; 
            height: 40px; 
            font-size: 15px;
        }
    
        
    
    /* for responsive mobile-friendly page*/    
        
    @media only screen and (min-width: 300px) and (max-width: 479px){
        #sideNav{
            display: none;
            margin-left: 50%;
            color: #575756;
            width: 50%;
        }    
        .sideNav2{
            display: block;
            align-content: center;
            float: left;
            clear: none;
            align-self: center;
            margin-left: 200px;
            
        } 
         .cart{
             transform: translate(-180px,25px);
             width: 20px;
        }
     
        .checkout{
            transform: translate(0px,25px);
        }
        
        .logo img{
            clear: both;
        }
 
        .btn-group button{
            transform: translate(70px,-50px);
        }
        #menuToggle{
            display: block;
            float: left;
            margin-top: -100px;
            margin-left: -30px;
        }
        #main{
            float: left;
            width: 100%;
            margin-top: 50px;
            height: 3450px;
            
        }
        
      
    }
         
    @media only screen and (min-width: 480px) and (max-width: 767px){  
        #sideNav{
            display: none;
            margin-left: 50#;
            color: #575756;
            width: 170px;
            margin-left: 30%;
        }    
        .sideNav2{
            display: block;
            align-content: center;
            float: left;
            clear: none;
            align-self: center;
            margin-left: +50%;
            
        }
        .cart,.checkout{
            margin-top: 10px;
        }
        .container2{
            max-width: 100%;
            clear: both;
        }
       
    }
