body, html{
   
    background-color: white;
    background-size:cover;
    background-position: left center;
    background-repeat: no-repeat;

    height: 100%;

    margin: 0;

    font-family: Arial, Helvetica, sans-serif;

}
.card {
/*    transform: translate(300px,200px);*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 350px;
    height: 450px;
  border-radius: 5px;
    padding-bottom: 20px;
    z-index: -1;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
  height: 225px; 
}

.container {
  padding: 2px 16px;
}



*{

    box-sizing: border-box;

}
#ca1{
transform: translate(50px,200px);
}
#ca2{
    transform: translate(450px,-285px);
}
#ca3{
    transform: translate(50px,-200px);
}
#ca4{
    transform: translate(450px,-687px);
}


.bg-image{

    /* The image used */

    background-image: url("screenbg.jpg");

    

    /* Add the blur effect */

    filter: blur(0px);
    -webkit-filter: blur(0px);



    /* Full height */

    height: 100%; 



    /* Center and scale the image nicely */

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    

}



.navbar{

    position:   fixed;
    top: 0px;
     padding-left: 16px;
   width: 100%;
    border-bottom: 1px solid grey;
                background-color: white;
    z-index: 3;

}



.navbar img{
    transform: translate(0px,10px);
    float: left;
    width: 130px;
    height: 120px;
}



.navbar h1{

    float: left;

    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 100px;
    color: darkgreen;
    font-size: 30pt
}
ul{
    list-style-type: none
}
ul .active {
    float: right;
    color: #000000;
    text-align: center;
    padding: 4px 15px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 30px;
    margin-right: 20px;
    display: inline;
}

/* Position text in the middle of the page/image */


ul .active:hover{
    font-weight: bolder;
}

.btn-container{

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 2;

    text-align: center;

    width: 60%;

    margin: auto;

}



.btn{

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
    color: white;

    font-weight: bold;

    border: 3px solid #f1f1f1;

    border-radius: 25px;

    z-index: 2;

    padding: 20px;

    width: 400px;

    font-size: 20pt;

}



.btn#greener{

    float: right;

}



.btn#affordable{

    float: left;

}



.footer a {

    float: left;

    color: #000000;

    text-align: center;

    

    text-decoration: none;

    font-size: 24px;

    margin-top: 10px;

    padding: 14px 

/*    margin-left: 00px;*/

}
 
 
    #b{
       
        
    }

    #box{
        margin-top: 200px;
         padding-top: 350px;
/*        height: 200%;*/
    
        z-index: -2;
        font-size: 15pt;
/*        transform: translate(-350px,0px);*/
        /* Add the blur effect *
        /* Full height */
       
        float: right;
    width: 40%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
       
        background-size: 100% 100%;
         background-size: cover;
        background-color: white;
        display: inline-block;
        margin-right: 80px;
        padding: 30px;
        border-radius: 15px;
        clear: both;
        font-family: 'Source Serif Pro', serif;
    }
    
    span{
        font-family: 'Abril Fatface', cursive;
        font-weight: bolder;
        font-size: 22pt
    }

    .big{
        width: 60%;
        height: 100%;
        float: left;
        clear: both;
        margin-top: -1350px;
    }
/*
@media only screen and (max-width: 600px)   {
   
    .active{
        transform: translate(-100px,-30px);
        font-size: 70px;
    }
    .hh{
        transform: translate(40px,-10px);
    }
    
}
*/
    @media only screen and (min-width: 320px) and (max-width: 481px){
        #box{
            
            
            width: 80%;
            margin: 0px auto;
            display: inline-block;

        }
        .big{
            transform: translate(0px,1200px);
            
            
        }
        
        
        .list{
/*            transform: translate(-800px,0px);*/
        }
        .navbar{

            width: 380px;
            height: 150px;
            
        }
        #ca1{
            width: 300px;
            transform: translate(10px,200px);
            margin-left: 12%;
            
        }
         #ca2{
            width: 300px;
             transform: translate(10px,660px);
             margin-left: 12%;
        }
         #ca3{
            width: 300px;
             transform: translate(10px,-300px);
             margin-left: 12%;
        }
         #ca4{
            width: 300px;
             transform: translate(10px,160px);
             margin-left: 12%;
        }
        #li1{
            transform: translate(-19px,48px);
        }
        #li2{
            transform: translate(-80px,-38px);
        }
        #li3{
            transform: translate(-110px,-10px);
        }
        #move{
            transform: translate(50px,0px);
        }
        .navbar img{
            transform: translate(80px,0px);
        }
        
}
